/* HEADER */
header .nav-link,
header .navbar-brand,
header .navbar-brand:hover {
  color: white;
  transition: 0.3s;
}
header .nav-link:hover,
header .nav-link.active {
  color: green !important;
}
header .navbar-brand i {
  color: green !important;
}
header .nav-item {
  position: relative;
  margin-left: 20px;
}
header .nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #35a22c;
  transition: 0.3s;
}
header .nav-item:hover::before,
header .nav-item.active::before {
  width: 100%;
}
/* SLIDER */
.carousel-item img {
  height: 100vh;
  min-height: 500px;
  /* chiều cao tối thiểu */
  /* vh: chiều cao màn hình user đang dùng */
  object-fit: cover;
  /* tương tự background-size */
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  transition: 0.3s;
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* remove value truoc do neu co */
  min-height: unset;
}
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  background-color: #35a22c;
  border-radius: 50%;
}
.carousel-indicators {
  bottom: 60px;
}
/* PROJECT */
.nav-pills .nav-link.active {
  background: #35a22c;
  border-color: #35a22c;
}
.nav-pills .nav-link {
  border: 1px solid black;
  color: black;
  margin: 0 20px;
}
/* CARD BS5 */
.card {
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  overflow: hidden;
}
.card-body {
  border: 1px solid transparent;
  transition: 0.3s;
  border-radius: 0 0 16px 16px;
}
.card:hover .card-body {
  border: 1px solid #35a22c;
  border-top: none;
}
.card h5 {
  transition: 0.3s;
}
.card:hover h5 {
  color: #35a22c;
}
/* SKILL */
.skill {
  background-image: url(./image/3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  background-attachment: fixed;
}
.skill::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
}
.skill .container {
  position: relative;
  z-index: 1;
}
.skill__item {
  backdrop-filter: blur(3px);
  border: 1px solid rgb(255, 255, 255, 0.1);
  padding: 40px;
  transition: 0.5s;
  cursor: pointer;
}
.skill__item i {
  font-size: 50px;
  color: #35a22c;
}
.skill__item h4 {
  font-size: 30px;
  margin: 40px 0;
}
.skill__item:hover {
  background: black;
  border-color: white;
}
/* ACHIEVEMENT */
.achievement {
  position: relative;
}
.achievement::after {
  content: "";
  background: url(./image/memphis_3.png);
  background-size: 50% auto;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: bottom left;
}
.achievement__title {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  border-radius: 16px;
}
/* FOOTER */
.footer {
  background: #222;
}
.footer__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
/* breakpoint bs5 */

/* min width = tối thiểu = mobile first = responsive từ nhỏ đến lớn*/
/* min height = tối đa = desktop first */

@media screen and (min-width: 768px) {
  /* đối với màn hình có kích thước lớn hơn 768px */
  .footer {
    background: red;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    background: blue;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 62.5%;
  }
  /* đối với màn hình có kích thước bé hơn 992px */
  header {
    background: black;
  }
  header .navbar-brand {
    font-size: 18px;
  }
}
